body {
  background-image: url("/home/faith/Documents/triangle-tracker/images/background.JPG");
  background-size: cover;
  background-repeat: no-repeat;
}
.heading h1{
  text-transform: uppercase;
  text-align: center;
  background-color: white;
  font-size: 300%;
  font-family: 'Oleo Script', cursive;
}
p{
  font-family: 'Cinzel Decorative', cursive;
}
